

<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">

<% if @question.num == '1' %>
<img src="images/level/LEVEL-1.jpg">      	
     	<% end %>

     	<% if @question.num == '2' %>
<img src="images/level/LEVEL-2.jpg">      	
     	<% end %>

     	<% if @question.num == '3' %>
<img src="images/level/LEVEL-3.jpg">      	
     	<% end %>

     	<% if @question.num == '4' %>
<img src="images/level/LEVEL-4.jpg">      	
     	<% end %>

     	<% if @question.num == '5' %>
<img src="images/level/LEVEL-5.jpg">      	
     	<% end %>

     	<% if @question.num == '6' %>
<img src="images/level/LEVEL-6.jpg">      	
     	<% end %>


<div class="questionscontainer">

<div class="questions">


<label for="Question">
  <p><%= @question.question %></p>

</label>
 </div>

<div class="choices">

<%= form_for(:answer, :url => pages_answer_path) do |f| %>
	<fieldset>
		<h1><%= @question.question %></h1>
		<ul>
			<% @choices.each do |choice| %>
				<li>
					<%= radio_button_tag(:choice_id, choice.id) %>
					<%= label_tag(:choice_id , choice.choice )%>
				</li>
			<% end %>
		</ul>	
		<!--- add participant id as hidden tag here to send back 
			<%= hidden_field_tag :participant_id, @participant.id %>
		-->
		<%= submit_tag "Submit" %>
<% end %>	


</div>

</div>



</div>





