<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">
	
	
<%= session[:email] %>

	
<img src="images/page_1/PAGE-1_01.jpg"  width="100%">
		
<img src="images/page_1/PAGE-1_02.jpg" width="100%" />

<div class="center">
<img class="derp1" height="36px" width="45.7%" src="images/page_1/PAGE-1_03.jpg" />
<img class="derp2" height="36px" width="8.35%" src="images/page_1/PAGE-1_04-idle.jpg" />
<img class="derp3" height="36px" width="45.9%" src="images/page_1/PAGE-1_05.jpg" />
</div>
<img class="derp4" width="100%" src="images/page_1/PAGE-1_06.jpg" />

<%= form_for(:participant, :url => signup_path) do |f| %>  
  <!-- Label and text input -->
  
 	<%= f.text_field :email %>
 
    <!-- Wrap each checkbox in a label, then give it the input and span for the text option -->
    <br />
    <label for="regularCheckbox">
      <span class="white">I agree to terms and conditions</span>
    </label>
 	<br />
    <label for="secondRegularCheckbox">
	  <%= f.check_box :subscribed %>
      <span class="white">Sign up for our lame newsletter</span>
    </label>

    <%= submit_tag "Submit" %>
 
<% end %>	
 
</form>
</div>


