<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">
	
	
<%= session[:email] %>

	
<img src="images/page_1/PAGE-1_01.jpg"  />
		
<img src="images/page_1/PAGE-1_02.jpg" />

<img class="derp1" src="images/page_1/PAGE-1_03.jpg" />

<img class="derp3" src="images/page_1/PAGE-1_05.jpg" />

<img class="derp4" src="images/page_1/PAGE-1_06.jpg" />


<div class="fit">


<%= form_for(:participant, :url => participate_path) do |f| %>  

  <!-- Label and text input -->
  
 	<%= f.text_field :email, size: 20, :placeholder => "Enter Email Address..." %>
 
    <!-- Wrap each checkbox in a label, then give it the input and span for the text option -->
    <br />
    <label for="regularCheckbox">
    <input type="checkbox">
      <span class="white" required>I agree to terms and conditions</span>
      </input>
    </label>
 	<br />
    <label for="secondRegularCheckbox">
	  <%= f.check_box :subscribed %>
      <span class="white">Be Red Carpet-Ready - Sign me up for emails from Tadashi Shoji</span>
    </label>



    <%= image_submit_tag("/images/page_1/PAGE-1_04-IDLE.jpg", :class => "page1_submit") %>
 
<% end %>	

</div>
</div>




