<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">

<img src="images/level/LEVEL-1.jpg">

<div class="questionscontainer">

<div class="questions">


<label for="Question">
  <p><%= @question.question %></p>

</label>
 </div>

<div class="choices">

<form>

<% @choices.each do |post| %>

<label for='<%= post.choice %>'>
<input type="radio" name="idea" id="<%= post.choice %>" value="<%= post.choice %>" />
<p><%= post.choice %></p>
</label>
<br />

  <% end %>

</form>


</div>

</div>



</div>




