<!DOCTYPE html>
<html>
<head>
  <title>Oscarsapp</title>
  <%= stylesheet_link_tag    "layout", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "days", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "pages", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "participants", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "questions", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "scaffolds", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "active_scaffold", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

	<%= yield %>

	<%= debug(params) if Rails.env.development? %>
	<%= debug(session[:participant_id]) if Rails.env.development? %>
	
</body>
</html>
